<div *ngIf="mostrar"  id="id01" class="modal ">
    <form class="modal-content animate ld ld-zoom-in" >
        <span style="margin-bottom: 2rem;" (click)="cerrar()" class="close" title="Close Modal">×</span>
        <div  style="margin-top: 3rem; margin-bottom: 2rem;" class="container">
        <br>
        <br>
        <div class="div1">
            <table class="table table-hover table-bordered animated fadeIn faster ld ld-slide-ttb-in">
                <thead>
                    <tr class="bg-primary" style="color: white;">
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Especialidad</th>
                        <th>Fecha de Turno</th>
                        <th>Hora</th>
                        <th>Estado</th>
                        
                        <th >Reseña</th>
                    </tr>
                </thead>
                <tbody >
                    <tr *ngFor="let turno of listado" >
                        <td>{{turno.paciente.nombre}} </td>
                        <td>{{turno.paciente.apellido}} </td>
                        <td>{{turno.especialidad}} </td>
                        <td>{{turno.fecha |fecha}} </td>
                        <td>{{turno.hora}} </td>
                        <td>{{turno.estado | estadoTurno}}  </td> 
                        <td>
                        <button *ngIf="turno.comentario != undefined && turno.comentario != ''" class="btn btn-warning" (click)="verReseniaModal(turno)" >Ver reseña</button>
                        </td>
                    </tr> 
                </tbody>
            </table>
        </div>
        <div *ngIf="mostrar" class="clearfix row" style="justify-content: center;">
        <button  (click)="cerrar()"  class="btn-success btn-lg boton ">Cerrar</button>
        </div>
        
        </div>
    </form>
</div>
<div *ngIf="mostrarModalDos"  id="id01" class="modal " style="z-index: 999999;">
    <form class="modal-content animate ld ld-zoom-in" >
      <span (click)="cerrarComentario()" class="close" title="Close Modal">×</span>
<div *ngIf="mostrarModalDos" style="margin-top: 3rem;" class="container" >
    <mat-form-field  style="width: 100%;" appearance="fill">
    <mat-label>Comentario:</mat-label>
    <textarea   [(ngModel)]="turnoSeleccionado.comentario" matInput [ngModelOptions]="{standalone: true}" disabled></textarea><!--*ngIf="user.rol == 'profesional'"-->
  </mat-form-field>
  <div *ngIf="mostrarModalDos" class="clearfix row" style="justify-content: center;">
    <button  (click)="cerrarComentario()"  class="btn-success btn-lg boton ">Cerrar</button>
  </div>
    
  </div>
  </form>
</div>
<!--<app-ver-turno [cancelar]="false" [verResenia]="verResenia" [rechazar]="false" [user]="user" [turno]="turnoSeleccionado"[mostrar]="mostrarModalDos" (eventoMostrarModal)="mostrarEncuesta($event)" (eventoJustifacion)="justificacion($event)"></app-ver-turno>-->

