.containerInicioRegistro {
    display: flex;
    z-index:999;
    flex-direction: row;
    flex-wrap: wrap;
   justify-content: center;
    border-radius: 100%;
    background-color: white;
    -webkit-box-shadow: -2px 7px 29px 6px rgba(0,0,0,0.75);
  -moz-box-shadow: -2px 7px 29px 6px rgba(0,0,0,0.75);
  box-shadow: -2px 7px 29px 6px rgba(0,0,0,0.75);
  text-align: center;
  width: 150px;
  height: 150px;
  margin-right:20px;
  margin-left:20px;
  }

 .botonUsuarios{
    overflow: hidden;
    height: 150px;
    width: 150px;
    border-radius: 100%;
 }

  .container{
   margin-top: 1rem;
   display: flex;
   z-index:999;
   flex-direction: row;
   flex-wrap: wrap;
  justify-content: center;
   border-radius: 1rem;
   background-color: white;
   -webkit-box-shadow: -2px 7px 29px 6px rgba(0,0,0,0.75);
  -moz-box-shadow: -2px 7px 29px 6px rgba(0,0,0,0.75);
  box-shadow: -2px 7px 29px 6px rgba(0,0,0,0.75);
  
  }
  .contenedor{
   
    display: flex;
    justify-content: center;
    /*flex-direction: row;
    flex-wrap: wrap;
    height: 70%;
    align-items: center;*/
  }
  
    
  
  .container:hover {
    z-index: 1000;
    transform: scale(1.1);
  }