.container {
    margin-top: 1rem;
    display: flex;
    z-index:999;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 1rem;
    background-color: white;
    -webkit-box-shadow: -2px 7px 29px 6px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px 7px 29px 6px rgba(0,0,0,0.75);
    box-shadow: -2px 7px 29px 6px rgba(0,0,0,0.75);
  }
  .contenedor{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;
  }
  
  .botonCustom{
      font-size: 12px;
      width: 230px;
  }

  .fotoTabla{
    max-width: 60px;
    max-height: 60px;
  }
  .botonUsuarios {
    
    background-color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .divTitulo{
    text-align: center;
  }